.tomc-bookshelves--save-shelf{
    background-color: #0c6980;
    color: white;
    font-size: 22;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px 10px 20px 40px;
    cursor: pointer;
}
.tomc-bookshelves--rename-shelf{
    background-color: #957c5e;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0px 10px 20px 40px;
    cursor: pointer;
}
.tomc-bookshelves--remove-shelf{
    background-color: #893e43;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0px 10px 20px 20px;
    cursor: pointer;
}
.tomc-bookshelves--remove-book{
    background-color: #893e43;
    color: white;
    font-size: 26;
    padding: 0px 10px;
    margin: 0 70%;
    border-radius: 50%;
    cursor: pointer;
}
.tomc-bookshelves__rename-box{
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    left: 30vw;
    right: 30vw;
    top: 35vh;
    bottom: 35vh;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 0px 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
    text-align: center;
}
.tomc-bookshelves__rename-box--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.tomc-bookshelves__search-overlay{
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
}
.tomc-bookshelves__add-book{
    cursor: pointer;
}
.tomc-bookshelves__search-overlay--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

@media screen and (max-width: 870px){
    .tomc-bookshelves__rename-box{
        right: 25vw;
        left: 25vw;
    }
}
@media screen and (max-width: 660px){
    .tomc-bookshelves__rename-box{
        right: 15vw;
        left: 15vw;
    }
}