.tomc-bookshelf--book-cover{
    max-width: 150px;
    height: auto;
    margin: 0 auto 0 auto;
    border: solid gray 3px;
}
.tomc-bookshelves--save-name{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
.tomc-bookshelves--cancel-button{
    background-color: #957c5e;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin: 10px auto 40px auto;
}
.tomc-bookshelves--shelf-name-center{
    width: fit-content;
    margin: 0 auto;
}
.tomc-bookshelves--rename-shelf{
    background-color: #957c5e;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0px 10px 20px 40px;
    cursor: pointer;
}
.tomc-bookshelves--remove-shelf{
    background-color: #893e43;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0px 10px 20px 20px;
    cursor: pointer;
}
.tomc-bookshelves--delete-shelf, .tomc-bookshelves--delete-book{
    background-color: #602f32;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}
.tomc-bookshelves--remove-book{
    background-color: #893e43;
    color: white;
    font-size: 26;
    padding: 0px 10px;
    margin: 0 70%;
    border-radius: 50%;
    cursor: pointer;
}
.tomc-bookshelves--delete-shelf-overlay, .tomc-bookshelves--delete-book-overlay{
    display: block;
    z-index: 1111;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f6f0e9;
    padding-top: 20vh;
}
.tomc-bookshelves__search-overlay{
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(252, 232, 228);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
}
.tomc-bookshelves__box--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.tomc-bookshelves__search-overlay__close{
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    color: #b41414;
    line-height: 0.7;
}
.tomc-bookshelves__add-container{
    display: flex;
    align-items: center;
}
.tomc-bookshelves__add-book{
    cursor: pointer;
    background: #0c6980;
    color: white;
    text-shadow: black 0px 0px 2px;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    width: 80px;
    text-align: center;
}
.tomc-bookshelves--add-all-books{
    cursor: pointer;
    background: #4c0548;
    color: white;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    width: 80px;
    text-align: center;
}
.tomc-bookshelves--add-to-shelf{
    background-color: #b41414;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
.tomc-bookshelves--new-name{
    width: 270px;
    height: 30px;
    border-radius: 5px;
    margin: 10px auto
}